@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-slate-200 dark:border-slate-800;
    }
}

/* Custom Scrollbar (Mineral Minimal) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-surface-light dark:bg-surface-dark;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full border-2 border-transparent bg-clip-padding hover:bg-slate-400 dark:hover:bg-slate-600;
}