# System Files
.DS_Store

# dependencies
node_modules

.env
# .env.*
/dist
/build
*.log
firebase-debug.log
.firebase/emulators/storage/blobs
serviceAccountKey.json
firebase-emulators-data/
.firebase/
firebase-export-*/

# Compiled output
lib
**/lib
!services/functions/lib
*.js
*.js.map

# Caches and Reports
.eslintcache
playwright-report/
/test-results/
*.tsbuildinfo