/* 
  INDEX.CSS
  Estilos globales y reseteo.
*/

/* Importar primero las variables de tema */
@import './theme.css';

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

main {
  display: block;
}