/* Estructura de Temas y Estilos Globales para MINREPORT */

/* 
  Se utiliza el atributo `data-theme` en la etiqueta <html> para cambiar entre modos.
  Ej: <html data-theme="dark"> 
*/

:root {
  /* Paleta de Colores - Modo Claro (Default) */
  --color-background: #ffffff; /* Fondo principal */
  --color-surface: #f4f6f8;    /* Fondo para tarjetas, inputs, etc. */
  --color-text-primary: #1a202c; /* Texto principal */
  --color-text-secondary: #4a5568; /* Texto más suave, placeholders */
  --color-primary: #005f73;    /* Color de acento principal (ej. botones, enlaces) */
  --color-primary-rgb: 0, 95, 115; /* RGB de --color-primary */
  --color-primary-hover: #004a5a; /* Un poco más oscuro para hover */
  --color-border: #e2e8f0;      /* Bordes sutiles */
  --font-main: 'Atkinson Hyperlegible', sans-serif;
}

[data-theme='dark'] {
  /* Paleta de Colores - Modo Oscuro */
  --color-background: #121212; /* Fondo principal oscuro */
  --color-surface: #1e1e1e;    /* Superficies como tarjetas, etc. */
  --color-text-primary: #e2e8f0; /* Texto principal claro */
  --color-text-secondary: #a0aec0; /* Texto secundario más suave */
  --color-primary: #00a9c7;    /* Acento principal, más brillante para el modo oscuro */
  --color-primary-rgb: 0, 169, 199; /* RGB de --color-primary en modo oscuro */
  --color-primary-hover: #008da3; /* Un poco más oscuro para hover en modo oscuro */
  --color-border: #2d3748;      /* Bordes sutiles en modo oscuro */
}

body {
  /* Aplicación de la fuente y colores base */
  font-family: var(--font-main);
  background-color: var(--color-background);
  color: var(--color-text-primary);

  /* Transición suave para el cambio de tema */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo base para los Material Symbols */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
